<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

  <add key="MvcCaptcha.ResetOnSuccess" value="true"/>
  
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="hungdau1902@gmail.com"/>
  <add key="FromEmailPassword" value=""/>
  <add key="FromName" value="TECHZONE"/>
  <add key="AdminEmail" value="hungdau1902@gmail.com"/>
  <add key="CurrentLink" value="https://localhost:44326/"/>
</appSettings>